body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

.button:hover{
    background-color: #850AE5;
    transition: 3s;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-link:hover{
 border-bottom: solid white 1px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

h1:hover{
  transform: scale(1.1);
  transition: 3s ease-in-out;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
    opacity: 0.7;
}

.post:hover{
    transition: 1.5s;
    transform: scale(1.1);
    opacity: 1;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.article-but:hover{
 background-color: #36bbce;
 transition: 3s;
 color: azure;
}

.full-image {
    margin: 100px 0px 100px 0px;
    position: relative;
    top: 105px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}


.birka {

    height: 75px;
    width: 75px;
    position: relative;
    top: 30px;
    right: -17px;
}

.home{
    height: 25px;
    width: 25px;
}

h3{
 color: white;
 text-align: center;
 font-size: 40px;
}

.qwe p{
 color: white;
 font-size: 25px;
}

.qwe span{
 color: #850AE5;
}

.qwe span::before {
    content: url("/uploads/2021/03/message_0_1614945444.svg");
}

p:hover{
 border-bottom: #133aac;
}

.qwe img{
    width: 25px;
    height: 25px;
}
